In [3]:
import pandas as pd

In [4]:
cosqa_deepseek_qe_path = '/work/pi_wenlongzhao_umass_edu/27/janet/query_expansion/results/cosqa/cosqa_queries_expanded_deepseek_temp_0.csv'

In [5]:
df = pd.read_csv(cosqa_deepseek_qe_path)

In [6]:
df[['id', 'expanded_query']].head()

   id                                     expanded_query
0  q1  Okay, so I need to figure out how to write a b...
1  q1  Wait, I think there's a function called bool()...
2  q1  But the user might also want to see how to che...
3  q1  Now, the user is asking for a boolean value of...
4  q2  Okay, so I need to help expand the query about...

 instead of q1 i will rename it as q1.1 q1.2
 and then create qrels {}
 and

In [18]:
from coir.data_loader import get_tasks
from coir.evaluation import COIR
from coir.models import YourCustomDEModel
import pandas as pd

/work/pi_wenlongzhao_umass_edu/27/vaishnavisha/envs/virtual-env/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [19]:
def load_data(dataset_name):
    tasks = get_tasks(tasks=[dataset_name])
    return tasks

In [20]:
dataset_name = "cosqa"

In [22]:
tasks = load_data(dataset_name)

in tasks
fetched data from hf
data loader init

20604it [00:00, 211585.21it/s]

In [24]:
corpus, queries, qrels = tasks["cosqa"]

In [41]:
len(queries)

500

In [36]:
qrels['q20105']

{'d20105': 1}

In [1]:
def expand_queries_and_qrels(expanded_df, original_qrels):
    new_queries = {}
    new_qrels = {}

    grouped = expanded_df.groupby('id')

    for qid, group in grouped:
        for idx, row in enumerate(group.itertuples(index=False), start=1):
            if pd.isna(row.expanded_query) or not str(row.expanded_query).strip():
                continue
            new_qid = f"{qid}.{idx}"
            new_queries[new_qid] = row.expanded_query

            if qid in original_qrels:
                new_qrels[new_qid] = original_qrels[qid]

    return new_queries, new_qrels

In [38]:
new_queries, new_qrels = expand_queries_and_qrels(df, qrels)

In [51]:
df.loc[df['id'] == 'q20108']

,id,original_query,rank,expanded_query,similarity
87402,q20108,test for iterable is string in python,1,I should also consider the subject. Instead of...,0.5212
87403,q20108,test for iterable is string in python,2,"Wait, maybe I can vary the verbs. Instead of ""...",0.4628
87404,q20108,test for iterable is string in python,3,Maybe I can start by changing the structure. I...,0.4573
87405,q20108,test for iterable is string in python,4,Another angle could be to focus on the purpose...,0.3054
87406,q20108,test for iterable is string in python,5,"Okay, so I'm trying to figure out how to expan...",0.2737

In [47]:
new_queries['q20105.5']

'I should think about different ways to rephrase this. Maybe changing the order of the words or using synonyms. For example, "sort tokens in a string using Python" could be one variant. That way, it\'s still clear but uses a different structure.'

In [52]:
new_qrels['q20105.5']

{'d20105': 1}